<div class="container grid">
  <div class="row pt-5" style="padding-right:0px">
    <div class="col-md-5" style="padding-right:0px">
      <p class="hanzi green head-title">Découverte</p>
      <h1>À propos  <br>
        de nous</h1>
    </div>
    <div class="col-md-7 box-text-apropos">
      <p class="bold dark big-text">Bienvenue dans l'univers déjanté de <span class="green">Cuisine Kitch ! </span><br>
        Ici, nous célébrons l'art culinaire dans toute sa splendeur loufoque. Notre mission ? Révolutionner la cuisine en vous offrant un espace où l'extravagance et la créativité règnent en maîtres.
      </p>
      <div class="row pt-5">
        <div class="col-md-2">
          <p class="bold dark">Notre site</p>
        </div>
        <div class="col">
          <p>Ajoutez des ingrédients farfelus et inattendus pour pimenter vos recettes habituelles.</p>
          <p>Explorez une multitude de catégories, des desserts décadents aux plats principaux étrangement délicieux.</p>
          <p>Laissez libre cours à votre imagination et créez des recettes uniques qui surprendront et raviront vos papilles.<br>
            Partagez vos créations culinaires les plus audacieuses avec une communauté de passionnés tout aussi excentriques.</p>
          <p>Découvrez de nouvelles inspirations culinaires à travers les recettes farfelues de nos membres.</p>
        </div>
      </div>
      <p class="pt-5">Nous sommes convaincus que la cuisine ne devrait jamais être ennuyeuse. C'est pourquoi nous avons créé <span class="green">CuisineKitch</span>, un lieu où vous pouvez laisser libre cours à votre imagination culinaire et partager vos recettes les plus farfelues avec le monde entier.<br>
        Que vous soyez un chef expérimenté en quête de nouveaux défis ou un amateur passionné désireux d'explorer de nouveaux horizons gustatifs, vous trouverez ici une communauté accueillante et inspirante.<br>
        Nos recettes sont tout sauf ordinaires. Des cupcakes au bacon aux sushis à la pizza, en passant par les hamburgers à la crème glacée, nous repoussons sans cesse les limites de la cuisine traditionnelle pour vous offrir des plats aussi délicieux que surprenants.<br>
        Alors, préparez-vous à être étonné, à rire et à vous régaler avec CuisineKitch. Rejoignez-nous dès aujourd'hui et laissez-vous emporter dans un voyage culinaire unique en son genre !</p>
    </div>
  </div>
  <div id="apropos" class="row py-5">
    <div class="row pt-4">
      <svg width="166" height="380" viewBox="0 0 166 380" fill="none" xmlns="http://www.w3.org/2000/svg" class="decoration-rond-left">
        <circle cx="-24" cy="191" r="130.5" stroke="white" stroke-width="13"/>
        <circle cx="-24" cy="190" r="183.5" stroke="white" stroke-width="13"/>
      </svg>
      <div class="col-md-6">
        <div class="card-apropos d-flex align-items-center">
          <p class="name pt-3 bold">Cabaret Line</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-apropos d-flex align-items-center">
          <%= image_tag "thomas-photo", alt:"", class: "photo-apropos"%>
          <p class="name pt-3 bold">Riquier Thomas</p>
        </div>
      </div>
      <svg width="166" height="380" viewBox="0 0 166 380" fill="none" xmlns="http://www.w3.org/2000/svg" class="decoration-rond-right">
        <circle cx="-24" cy="191" r="130.5" stroke="white" stroke-width="13"/>
        <circle cx="-24" cy="190" r="183.5" stroke="white" stroke-width="13"/>
      </svg>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <p style="max-width:1300px">Ce site de recettes kitch est le fruit d'un projet étudiant réalisé dans le cadre de la formation MMI à Bordeaux. Conçu par Thomas Riquier et Line Cabaret et encadré par Arnaud Levy, ce projet nous a permit de découvrir Ruby on Rails. Nous espérons que vous apprécierez cette expérience culinaire hors du commun !</p>
  </div>
</div>
