<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Title:</strong>
    <%= ingredient.title %>
  </p>

  <% if ingredient.image.attached? %>
    <%= image_tag ingredient.image %>
  <% else %>
    <p>No image attached</p>
  <% end %>

</div>
