// custom.scss
a{
  text-decoration: none;
}
body {
  background-color: #FBF5EF;
  color: #333231;
  padding: 0 5vw;
}

.container {
  height: 100px;
}

p {
  color: #727272;
}

h1 {
  font-size: 70px;
  width: 50%;
  line-height: 110%;
}

h2 {
  font-size: 32px;
}

strong {
  color: #333231;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FEFEFE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333231;

  font-size: 23px;
  font-weight: bold;
  margin-right: 25px;
}

.inner-circle {
  z-index: 1;
}

.ingredient-title {
  color: #333231;
  font-size: 18px;
  margin-bottom: 0;
}

.ingredient-weight {
  font-weight: 300;
  margin-bottom: 0;
}

.ingredient-number {
  font-size: 26px;
  color: #333231;
}

.date-crea {
  margin-bottom: 0;
}

img {
  box-sizing: content-box !important;
  width: 100% !important;
  height: 600px;
  object-fit: cover;
}


// Tag
.tag {
  height: 40px;
  border: 2px solid #333231;
  border-radius: 90px;
  margin-right: 1vw;

  &:hover {
    background-color: #333231 !important;
  }
  &:hover .tag-text {
    color: #FFF;
  }
}

.tag-text {
  color: #333231;
}


// Index
#recipes{
  background-color: #333231;
  height: 800px;
}
.card{
  background-size: cover;
  height: 400px;
}
.index-card .card {
  position: relative;
  overflow: hidden;
}

.index-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-body{
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 0;
  padding: 30px;
}
.index-card .card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.index-card .tag{
  border: 2px solid #FFF;
}
.index-card .tag-text{
  color: #FFF !important;
}
