strong {
  color: #333231;
}

.form-control {
  border: 1px solid #333231;
  border-radius: 10px;
  min-height: 55px;
  background-color: #FBF5EF;

  :focus {
    background-color: #fceddf;
  }
}

.form-time {
  max-width: 300px;
}

.btn-dark {
  width: 400px;
  border-radius: 20px;
}

.btn-white {
  width: 150px;
  height: 50px;
  border-radius: 80px;
  border: none;
  background-color: #FFF;
  color: #333231;
  &:hover{
    opacity: 0.7;
  }
}


.form-ingredient img {
  width: 100px !important;
  height: 100px;
  object-fit: cover !important;
}

.form-ingredient {
 flex-direction: column;
  cursor: pointer;
  border: 1px solid #333231;
  padding: 20px 30px;
  border-radius: 20px;
}

.form-ingredient.selected {
  background-color: #333231;
}
.form-ingredient.selected p{
  color: #FFF;
}
.ingredient-fields {
  display: none;
}

.form-check-input:checked {
  background-color: #333231;
  border-color: #333231;
}

.form-control:focus {
  border-color: #333231;
  box-shadow: 0 0 0 0.05rem #333231;
}


.form-check-input:focus {
  border-color: #333231;
  outline: 0;
  box-shadow: 0 0 0 0.05rem #333231;
}

.etape-count-container {
  border: 1px solid #333231;
  display: inline-block;
  border-radius: 250px;
}

.span-etape{
  font-size: 14px;
  font-weight: 300;
  color: #727272;
  margin-right: 20px;
}

#etapeInput {
  color: #333231;
  background: #FBF5EF;
  width: 20px;
  height: 50px;
  margin-left: 20px;
  padding-right: 0;
  border: none;
}

.button-plus {
  color: #333231;
  background: #FFF;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 15px 20px;
  height: 50px;
  width: 35px;
  border: none;
  border-left: 1px solid #333231;
}

.button-moins {
  color: #333231;
  background: #FFF;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 15px 20px;
  height: 50px;
  width: 35px;
  border: none;
  border-right: 1px solid #333231;
}