// custom.scss

body {
  background-color: #FBF5EF;
  color: #333231;
}

header {
  height: 100px;
}

p {
  color: #727272;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

strong {
  color: #333231;
}

.form-control {
  border: 1px solid #333231;
  border-radius: 10px;
  min-height: 55px;
  background-color: #FBF5EF;

  :focus {
    background-color: #fceddf;
  }
}

.form-time {
  max-width: 300px;
}

.btn-dark {
  width: 400px;
  border-radius: 20px;
}

.btn-white {
  width: 150px;
  height: 50px;
  border-radius: 80px;
  border: none;
  background-color: #FFF;
  color: #333231;
  &:hover{
    opacity: 0.7;
  }
}


.form-ingredient img {
  width: 100px !important;
  height: 100px;
  object-fit: cover !important;
}

.form-ingredient {
 flex-direction: column;
  cursor: pointer;
  border: 1px solid #333231;
  padding: 20px 30px;
  border-radius: 20px;
}

.form-ingredient.selected {
  background-color: #333231;
}
.form-ingredient.selected p{
  color: #FFF;
}
.ingredient-fields {
  display: none;
}

.form-check-input:checked {
  background-color: #333231;
  border-color: #333231;
}

.form-control:focus {
  border-color: #333231;
  box-shadow: 0 0 0 0.05rem #333231;
}


.form-check-input:focus {
  border-color: #333231;
  outline: 0;
  box-shadow: 0 0 0 0.05rem #333231;
}
