<div class="grid pt-5">
  <div class="row">
    <div class="col">
      <p style="color: green;"><%= notice %></p>
      <p class="hanzi green head-title">Cuisine Kitch</p>
      <h1>Les différentes catégories</h1>
      <p>Ajouter / Supprimer vos catégories</p>
    </div>
    <div class="col d-flex align-items-start justify-content-end" style="margin-top:50px;">
      <%= link_to "Ajouter une catégorie", new_category_path, class:"btn btn-style d-flex align-items-center justify-content-center" %>
    </div>
  </div>
  <div id="categories" class="row row-cols-4">
    <% @categories.each do |category| %>
      <div class="col my-3 mx-3 category-card d-flex align-items-center justify-content-center" style="flex-direction:column;">
        <p class="card-title my-4"><%= category.title %></p>
      </div>
    <% end %>
  </div>
</div>
