<footer class="d-flex align-items-center justify-content-center mt-4">
  <p>&copy; <%= Time.now.year %> Cuisinekitch Tous droits réservés. Projet étudiant créé par <a href="https://www.linkedin.com/in/line-cabaret/" target="_blank">Line Cabaret</a> et <a href="https://www.linkedin.com/in/thomas-riquier-116043294/" target="_blank">Thomas Riquier</a></p>
</footer>
